* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  position: relative;
  z-index: 1;
}

.navbar-menu {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
}

.logo {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 8px;
  left: 5%;
  font-weight: bold;
}

.navbar-menu ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}

.nav-options li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

.nav-options li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  border-radius: 3px;
}

a:focus,
a:hover {
  color: #7205b0;
  transition: 0.5s;
}

.checkbtn {
  font-size: 25px;
  float: right;
  color: white;
  line-height: 50px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  width: 100%;
}

.banner {
  height: 97vh;
  position: relative;
  background-color: rgb(174, 0, 255);
}

.banner-content img {
  margin: 5px 0;
  width: 100%;
}

.banner-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 35%;
  transform: translateX(0%) translateY(-45%);
}

.banner-text h2 {
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner-text a {
  display: block;
  width: 100px;
  color: rgb(226, 222, 222);
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid rgb(226, 222, 222);
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.banner-text a:hover {
  background-color: rgb(226, 222, 222);
  color: grey;
  text-shadow: 2px 2px 4px #ffffff;
}

.banner-text p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.about {
  height: 97vh;
  position: relative;
  background-color: rgb(43, 41, 41);
  color: rgb(226, 222, 222);
}

.about-content {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
}

.about-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.about-content p,
.about-content h2 {
  padding: 10px 50px;
}

.about-img {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 50px;
}

.about-imgx {
  width: 33%;
  float: left;
}

.img-job {
  width: 280px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.testimonios {
  height: 97vh;
  position: relative;
  background: url(img/fondo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(226, 222, 222);
}

.testimonios-content {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
}

.testimonios-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.testimonios-content p,
.testimonios-content h2 {
  padding: 10px 50px;
}

.testimonios-group {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 50px;
}

.testimonios-card {
  width: 33%;
  float: left;
}

.img-perfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
}

.contacto {
  height: 97vh;
  position: relative;
}

.contacto-content {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
}

.contacto-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.contacto-content p,
.contacto-content h2 {
  padding: 10px 50px;
}

.contacto-group {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 50px;
}

.form-contact {
  width: 50%;
  float: left;
}

.form-control {
  width: 85%;
  padding: 0.8rem;
  margin: 0.6rem 1rem;
  display: block;
  font-size: 1rem;
  outline: 0;

  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
}

.send-btn {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #a672eb;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  margin: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contacto-img {
  width: 50%;
  float: left;
}

.contacto-img img {
  width: 65%;
  display: block;
  margin: auto;
}

.footer {
  position: relative;
  height: 10vh;
  background-color: black;
  color: white;
}

.social {
  width: 50%;
  float: right;
  margin-top: 20px;
  text-align: center;
}

.social label a {
  color: white;
}

.social label i {
  padding: 0 10px;
}

.social label i:hover {
  color: #6b09eb;
}

.copr {
  width: 50%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .logo {
    padding-left: 40px;
  }

  .nav-options li a {
    font-size: 16px;
    padding: 7px 10px;
  }

  .banner {
    height: 89vh;
  }

  .banner-text {
    top: 50%;
    left: 15%;
  }

  .banner-content img {
    margin-top: 50px;
  }

  .about,
  .testimonios {
    height: 100vh;
  }

  .img-job {
    width: 210px;
    height: 210px;
  }

  .testimonios-card p {
    font-size: 13px;
  }

  .img-perfil {
    width: 150px;
    height: 150px;
  }

  .contacto {
    height: 90vh;
  }

  .form-control {
    width: 75%;
    padding: 0.3rem;
    margin: 0.6rem 1rem;
  }

  .send-btn {
    font-size: 0.8rem;
  }

  .footer {
    height: 15vh;
  }

  .social {
    width: 100%;
  }

  .social label i {
    font-size: 25px;
  }

  .copr {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .nav-options {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(169, 9, 243);
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .nav-options li {
    display: block;
    border-bottom: 1px solid rgb(231, 226, 226);
    z-index: 1;
  }

  .nav-options li a {
    font-size: 18px;
  }

  nav li:hover {
    color: #000000;
  }

  nav li a:hover {
    color: rgb(39, 38, 38);
  }

  #check:checked ~ ul {
    left: 0;
  }

  .banner {
    height: auto;
  }

  .banner-content {
    text-align: center;
    height: 100vh;
  }

  .banner-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    top: 50%;
    left: 10%;
    right: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .banner-text h2 {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 14px;
    text-align: left;
  }

  .banner-text a {
    font-size: 14px;
    width: 60px;
  }

  .about,
  .testimonios {
    height: 170vh;
  }

  .about-content h2,
  .testimonios-content h2,
  .contacto-content h2 {
    font-size: 25px;
  }

  .about-imgx {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-content p {
    font-size: 15px;
  }

  .testimonios-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .contacto {
    height: 135vh;
  }

  .form-contact,
  .contacto-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-control,
  .send-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .send-btn {
    width: 77%;
  }

  .footer {
    height: 20vh;
  }

  .social {
    margin-top: 30px;
  }

  .copr p {
    font-size: 14px;
  }
}
